@charset "UTF-8";
@font-face {
  font-family:'heatwave';
  src: url(./fonts/Renegade\ Pursuit.otf )format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}
html,
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
  background-attachment: fixed;
  
}
body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}
::-webkit-scrollbar{
  width: 0px;
  height: 0px;

}
#container {
  width: 100%;
  max-width: 588px;
  margin: 50px auto 0px auto;
 
}
/*profile */
#profile {
  text-align: center;
 
  
}
#profile img {
  width: 112px;
  border-radius: 50%;
 border: 2px solid var(--text-color);
}
#profile p {
  font-family: "heatwave";
  color: var(--text-color);
  margin: 20px 0;
  font-size: 1.1em;
  line-height: 24px;
}

/* lista de links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px;
}
/*Botões*/
ul li a {
  font-family: "heatwave";
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
footer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 2s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}
footer ion-icon {
  width: 20px;
  height: 20px;
  padding: 10px;
}
/* animações */
@keyframes slidein {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slideout {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
/* 
USAR MEDIA QUERYS PARA AJUSTAR CONTEUDO NO ELULAR */
